.about__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: $medium-space auto;

	span {
		font-weight: 600;
		font-size: 52px;
		line-height: 78px;
		color: #333333;
		margin-bottom: 1em;
	}
	p {
		font-size: 18px;
		line-height: 27px;
		text-align: center;
	}
}

.about__slide {
	display: flex;
	align-items: center;
	justify-content: center;
}
