.contact-us {
	display: flex;
	flex-wrap: wrap;
	box-shadow: 5px 5px 5px rgba(42, 67, 141, 0.2);
	border-radius: 20px;
	padding: $medium-space;
	width: 90%;
	margin-left: -2.5%;
	min-width: 400px;
}

.contact-us > * {
	flex: 1;
}

.form-header {
	max-width: 340px;
	font-size: 27px;
	color: green;
}

.contact-us__form {
	margin-left: 5px;
	margin-top: 5px;
	padding: 1px;
	position: relative;
	width: 40%;
}

.contact-us__info {
	width: 40%;
	padding: 3%;
	text-align: center left;
	margin-left: auto;
	margin-right: auto;
}

.form-input {
	min-width: 250px;
	width: 70%;
	padding: 3px;
	margin: 3px;
	border-radius: 4px;
}

.form__label {
	min-width: 200px;
	padding: 3px;
	margin: 3px;
}

.form-submit {
	background-color: green($color: #000000);
}

.info-para {
	min-width: 200px;
	padding: 5px;
	margin: 10px;
	color: green;
}

.info-header {
	min-width: 200px;
	padding: 5px;
	margin: 5px;
}

.form {
	margin: 25px;
}

.contact-us__email,
.contact-us__landmark,
.contact-us__number {
	margin-bottom: 15px;
}
