.prod-container {
	display: flex;
}

.prod-img {
	display: inline;
}

.prod-info {
	float: left;
	margin: 0.7rem 1.5rem;
	margin-bottom: 0;
	text-align: left;
}

.feat-prod-container {
	width: 70%;
	margin: 7em auto !important;
	text-align: center;
}
