body {
	background-color: #fdfdfd;
}

.search-form {
	display: inline;
}

.path {
	float: left;
	font-size: 15px;
	min-width: 200px;
}

.top {
	min-width: 750px;
}

.navigation {
	width: 100%;
	padding: 3% 2%;
	display: inline-block;
	min-width: 500px;
	vertical-align: middle;
}

.search-bar {
	margin-right: auto;
	width: 25%;
	margin-left: auto;
	position: relative;
	float: right;
	min-width: 250px;
}

.searchTerm {
	float: left;
	width: 80%;
	padding: 10px;
	height: 20px;
	border-radius: 10px;
	outline: none;
	border-width: 0 0 3px 0;
}

.searchButton {
	width: 20%;
	float: right;
	padding: 1px;
	text-align: center;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 15px;
	border-style: none;
}

.heading {
	margin: auto;
	text-align: center;
	padding: 2%;
}

h1 {
	font-weight: bold;
	font-size: 35px;
}

.details {
	text-align: center;
	font-size: 17px;
	margin-bottom: 80px;
}

.calories,
.time-taken {
	padding: 10px;
	display: inline-block;
}

.fav-button {
	color: white;
	float: left;
	align-items: center;
	width: 5%;
	margin-left: 14%;
	padding-left: 1px;
	overflow: hidden;
	z-index: -1;
	min-width: 45px;
}

.recipie-page {
	margin-bottom: 100px;
	width: 100%;
	min-width: 60%;
}

.recipie-part {
	min-width: 700px;
	margin-left: auto;
	margin-right: auto;
	width: 1080px;
}

.recipie-card {
	float: left;
	text-align: left;
	box-shadow: 5px 5px 7px 7px rgba(42, 67, 141, 0.2);
	border-radius: 20px;
	padding: 5%;
	overflow: auto;
	z-index: 0;
	min-width: 450px;
}
.recipie-image {
	margin-left: -75px;
	margin-top: 50px;
	float: left;
	min-width: 250px;
	overflow: none;
}

h2 {
	font-weight: bolder;
	min-width: 200px;
	padding-top: 30px;
	font-size: 38px;
	color: green;
}
.recipie-steps {
	margin: 80px 10px;
}

.recipie-step {
	margin-bottom: 50px;
	min-width: 200px;
	padding: 4px;
}

.step-info {
	text-align: left;
	margin: auto 10%;
	vertical-align: top;
	margin-bottom: 25px;
	padding-left: 20px;
	margin-top: 50px;
	font-size: 15px;
	max-width: 550px;
}
.step-num {
	font-weight: bolder;
	float: left;
	margin-top: 10px;
	font-size: 44px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.image {
	box-shadow: 5px 5px 5px rgba(42, 67, 141, 0.2);
	border-radius: 20px;
}

.page-change {
	margin: 5% 17.5%;
	text-align: center;
	padding: 30px;
	display: inline-block;
	min-width: 800px;
}
.prev,
.next {
	display: inline;
	margin: 50px 60px;
}
