.search-form {
	display: inline;
}

.path {
	float: left;
	font-size: 15px;
	min-width: 150px;
}

.top {
	min-width: 600px;
}

.navigation {
	padding: 3% 2%;
	display: inline-block;
	min-width: 500px;
	vertical-align: middle;
}

.search-bar {
	margin-right: auto;
	width: 25%;
	margin-left: auto;
	position: relative;
	float: right;
}

.heading {
	margin: auto;
	text-align: center;
	padding: 2%;
}

.header-one {
	font-weight: bold;
	font-size: 35px;
}

.details {
	text-align: center;
	font-size: 17px;
	margin-bottom: 80px;
}

.calories,
.time-taken {
	padding: 10px;
	display: inline-block;
}

.fav-button {
	float: left;
	align-items: center;
	width: 4%;
	margin-left: -5%;
	overflow: unset;
	z-index: -1;
	min-width: 40px;
}

.recipie-page {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	min-width: 70%;
}

.recipie-page > * {
	flex: 0 0 100%;
}

.recipie-part {
	margin-left: 12%;
	margin-right: auto;
}

.recipie-card {
	float: left;
	width: 75%;
	text-align: left;
	box-shadow: 5px 5px 7px 7px rgba(42, 67, 141, 0.2);
	border-radius: 20px;
	padding: 5%;
	overflow: auto;
	z-index: 0;
}
.recipie-image {
	margin-left: -10%;
	margin-top: 50px;
	float: left;
	width: 10%;
}

.header-two {
	font-weight: bolder;
	min-width: 200px;
	padding-top: 30px;
	font-size: 38px;
	color: green;
}
.recipie-steps {
	margin: 80px 10px;
}

.recipie-step {
	margin-bottom: 50px;
	padding: 4px;
}

.step-info {
	text-align: left;
	margin: auto 5%;
	margin-right: 30px;
	vertical-align: top;
	margin-bottom: 25px;
	padding-left: 20px;
	margin-top: 50px;
	font-size: 15px;
	max-width: 550px;
}
.step-num {
	font-weight: bolder;
	float: left;
	margin-top: 10px;
	font-size: 44px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.image {
	box-shadow: 5px 5px 5px rgba(42, 67, 141, 0.2);
	border-radius: 20px;
}

.page-change {
	margin: 5% 17.5%;
	text-align: center;
	padding: 30px;
	display: inline-block;
	min-width: 800px;
}
.prev,
.next {
	display: inline;
	margin: 50px 60px;
}
