@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap");

body {
	font-family: $primary-font;
}

h1,
h2,
h3,
h4 {
	font-family: $primary-font;
}

input {
	font-family: $primary-font;
}

button {
	&:focus {
		outline: 0;
	}
}
