$primary-color: #046b2d;
$text-color: #333333;
$text-color-lighter: rgba(51, 51, 51, 0.8);

$extra-small-space: 1.2em;
$small-space: 2em;
$medium-space: 5em;
$large-space: 8em;

$primary-font: "Poppins", sans-serif;
